@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,300&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

// Colores
$white: rgb(255, 255, 255);
$black: rgb(26, 23, 27);
$pink: rgb(226, 0, 122);
$blue: rgb(0, 158, 224);
$yellow: rgb(255, 234, 0);
