.contacto {
    display: flex;
    color: $white;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 30px;
    padding-left: 50px;
  }
.contacto__text {
    color: $black;
    text-align: center;
    
   
  }
a:hover {
    color: $black;
}

.contacto__img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px $black;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
    background-color: $white;
  }
.diseño_link:hover{
    color: $white;
}

.contacto2{
    margin: 50px;
} 
@include small {
    .contacto {
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      justify-items: center;
      align-items: center;
    }
    .contacto__text {
        color: $black;
        font-size: 70%;
        align-items: center;
        margin-left: 20px;
}
.contacto__img {
    margin-left: 10px;
}

  }
  