.footer__ {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }
  .footer__img {
    width: 100px;
    height: 100px;
   
  }
  .footer__text {
    margin-left: 20px;
    text-align: center;
  
  } 
  .footer__link__text{
    text-align: center;
  }