@import "../variables";
@import "../breakpoints";

.header {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  margin: 1.5rem;
  &-logo {
    min-width: 50px;
  }
  &-slogan {
    display: none;
    width: 30%;
    min-width: 150px;
    max-width: 190px;
    height: 50px;
    & img {
      width: 100%;
    }
    @include medium {
      display: flex;
      align-items: center;
      margin-left: min(10vw, 3rem);
    }
  }
  &-navbar {
    display: grid;
    align-content: center;
    margin-left: auto;
    @include large {
      display: flex;
      height: 50px;
    }
    &-btn {
      width: 40px;
      height: 40px;
      position: relative;
      z-index: 5;
      display: grid;
      align-content: center;
      padding: 0.5rem;
      @include large {
        display: none;
      }
      & button[aria-expanded="false"] {
        background-image: url("../img/menu-icon.svg");
      }
      & button[aria-expanded="true"] {
        background-image: url("../img/menu-close.svg");
        background-color: $white;
        border-radius: 50%;
      }
      & button {
        width: 40px;
        height: 40px;
        border: none;
        font-size: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #fff0;
        & img {
          width: 100%;
        }
        @include large {
          display: none;
        }
      }
    }
    & nav {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      padding: 20vh 0px;
      background-color: $black;
      transition: transform 200ms ease;
      @include large {
        position: static;
        width: auto;
        height: auto;
        flex-flow: row;
        background-color: #fff0;
        padding: 0.25rem;
      }
      & a {
        text-decoration: none;
        color: $white;
        font-weight: 900;
        font-size: 2rem;
        @include large {
          font-size: 1.2rem;
          color: $black;
        }
      }
      & a:nth-child(1):hover {
        color: $blue;
      }
      & a:nth-child(2):hover {
        color: $pink;
      }
      & a:nth-child(3):hover {
        color: $yellow;
      }
      @include large {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        min-width: 380px;
        margin-right: 2rem;
        & a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
.open-menu {
  transform: translateX(0%);
}
.closed-menu {
  transform: translateX(-100%);
  @include large {
    transform: translateX(0%);
  }
}
