$block-spacing: 2rem;

.main {
  margin-block: $viewport-margin;
  @include large {
    &__block:nth-child(1) {
      flex-direction: row-reverse;
    }
    &__block:nth-child(2) {
      flex-direction: row;
    }
  }
  @include wide {
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    grid-template-areas:
      "aside1 block1 block1 block1"
      "block2 block2 aside2 aside2"
      "empty empty block3 block3"
      "block4 block4 aside4 aside4"
      "block5 block5 block5 block5";
  }
  &__block {
    margin-inline: $viewport-margin;
    margin-block: $block-spacing;
    &__text {
      padding: clamp(1.25rem, 7vw, 5rem);
      text-align: center;
      line-height: 2.5rem;
      & strong {
        font-weight: $font-bold;
      }
      @include large {
        padding-inline: 15rem;
      }
      @include wide {
        padding: 3rem;
        max-width: 760px;
        font-size: 2rem;
        line-height: 5rem;
        margin: auto;
      }
    }
    &__title {
      @include large {
        padding-inline: min(10vw, 6rem);
        padding-block: 100px;
      }
      @include wide {
        margin: auto;
        & h3 {
          font-size: 4rem;
        }
      }
      padding: 2rem;
      & h3 {
        text-align: center;
      }
    }
    &__img {
      display: none;
    }
    @include large {
      display: flex;
      align-items: center;
      &__text {
        width: 50%;
      }
      &__img {
        position: relative;
        display: block;
        width: 50%;
        & img {
          width: 80%;
          max-width: 265px;
          margin: auto;
          opacity: 0.4;
        }
        &__title {
          position: absolute;
          top: 50%;
          width: 100%;
          text-align: center;
          & p {
            font-weight: $font-bolder;
            font-size: 2rem;
          }
        }
      }
    }
    @include large {
      &__text {
        width: 100%;
      }
      &__img {
        display: none;
      }
    }
  }
  /* BLOCK 1 */
  @keyframes bubbleMove {
    0% {
      scale: 0.8;
      transform: translateX(20%);
      opacity: 0.2;
    }
    50% {
      scale: 1;
      opacity: 0.15;
      transform: translateX(0%);
    }
    100% {
      scale: 1;
      opacity: 0.1;
    }
  }
  @keyframes bubbleMove2 {
    0% {
      scale: 1;
      opacity: 0.3;
      transform: translate(-15%, 0%);
    }
    50% {
      scale: 1.4;
      opacity: 0.2;
      transform: translate(30%, 40%);
    }
    100% {
      scale: 1.4;
      opacity: 0.1;
      transform: translate(35%, 40%);
    }
  }
  @keyframes bubbleMove3 {
    0% {
      scale: 0.8;
      transform: translate(35%, -100%);
      opacity: 0.3;
    }
    50% {
      scale: 1;
      transform: translate(15%, -15%);
    }
    100% {
      scale: 1;
      transform: translate(0%, -20%);
      opacity: 0.1;
    }
  }
  .block-1,
  .block-2,
  .block-5 {
    position: relative;
  }
  .block-1 {
    grid-area: block1;
  }
  @include wide {
    div.block-1:after {
      content: url("../img/logo-blue.svg");
      animation: bubbleMove 180s ease forwards;
    }
    div.block-2:after {
      content: url("../img/logo-yellow.svg");
    }
    div.block-5:after {
      content: url("../img/logo-pink.svg");
      animation: bubbleMove3 180s linear forwards;
    }
    div.block-1:after,
    div.block-5:after {
      position: absolute;
      z-index: -1;
      width: 900px;
      transition: all ease;
    }
    div.block-2:after {
      position: absolute;
      z-index: -2;
      width: 700px;
      transition: all ease;
      animation: bubbleMove2 180s ease forwards;
    }
  }

  .block-2 {
    grid-area: block2;
  }
  .block-3 {
    grid-area: block3;
  }
  .block-4 {
    grid-area: block4;
  }
  .block-5 {
    grid-area: block5;
  }
  .aside-1 {
    grid-area: aside1;
  }
  .aside-2 {
    grid-area: aside2;
  }
}

aside.servicios {
  margin: max(4vh, 2rem) $viewport-margin;
  & div.servicio {
    position: relative;
    display: flex;
    flex-direction: row;
    height: clamp(95px, 20vh, 150px);
    margin-block: 2rem;
    &__img {
      position: absolute;
      width: 100%;
      & img {
        margin: auto;
        width: 100px;
        opacity: 0.4;
      }
    }
    &__text {
      position: absolute;
      align-self: center;
      width: 100%;
      text-align: center;
      & p {
        font-size: 1.2rem;
        @include wide {
          font-size: clamp(1.2rem, 4vw, 1.8rem);
        }
        & strong {
          font-weight: $font-bolder;
        }
      }
    }
    @include wide {
      & .servicio__img {
        position: static;
        align-self: center;
      }
      & .servicio__text {
        position: static;
      }
    }
  }
  @include large {
    display: none;
  }
  @include wide {
    display: block;
  }
}

.aside-2 {
  @include large {
    & .imagen-separador {
      min-height: 520px;
      overflow-y: hidden;
    }
  }
}
