$block-spacing: 2rem;

.main {
  display: flex;
  flex-direction: column;
  margin-block: $viewport-margin;
  @include large {
    &__block:nth-child(1) {
      flex-direction: row-reverse;
    }
    &__block:nth-child(2) {
      flex-direction: row;
    }
  }
  @include wide {
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    grid-template-areas:
      "aside2 block1 block1 block1"
      "aside2 block2 block2 block2"
      "aside1 aside1 aside1 aside1"
      "block5 block5 block5 block5";
  }
  &__block {
    margin-inline: $viewport-margin;
    margin-block: $block-spacing;
    &__text {
      padding: clamp(1.25rem, 7vw, 2rem);
      text-align: center;
      line-height: 2.5rem;
      & strong {
        font-weight: $font-bold;
      }
      @include large {
        padding-inline: 15rem;
      }
      @include wide {
        padding: 1rem 3rem;
        max-width: 760px;
        font-size: 1.4rem;
        line-height: 2rem;
        margin: auto;
      }
      @include xl {
        max-width: 1060px;
        font-size: 2rem;
        line-height: 3rem;
      }
    }
    &__title {
      & h3 {
        font-size: 2.8rem;
        margin-top: 1rem;
        text-align: center;
      }
      @include large {
        padding-inline: min(10vw, 6rem);
        padding-block: 100px;
      }
      @include wide {
        margin: auto;
        & h3 {
          font-size: 4rem;
        }
      }
      padding: 2rem;
    }
    &__img {
      display: none;
    }
    @include large {
      display: flex;
      align-items: center;
      &__text {
        width: 50%;
      }
      &__img {
        position: relative;
        display: block;
        width: 50%;
        & img {
          width: 80%;
          max-width: 265px;
          margin: auto;
          opacity: 0.4;
        }
        &__title {
          position: absolute;
          top: 50%;
          width: 100%;
          text-align: center;
          & p {
            font-weight: $font-bolder;
            font-size: 2rem;
          }
        }
      }
    }
    @include large {
      &__text {
        width: 100%;
      }
      &__img {
        display: none;
      }
    }
  }
  .block-1,
  .block-2,
  .block-5 {
    position: relative;
  }
  .block-1 {
    grid-area: block1;
    order: 1;
    display: flex;
    flex-direction: column;
    grid-column: 2 / -1;
  }

  .block-2 {
    grid-area: block2;
    order: 4;
    display: flex;
    flex-direction: column;
    grid-column: 2 / -1;
  }
  .block-5 {
    grid-area: block5;
    order: 5;
  }
  .aside-1 {
    grid-area: aside1;
    order: 2;
  }
  .aside-2 {
    grid-area: aside2;
    order: 3;
  }
}

aside.servicios {
  margin: max(4vh, 2rem) $viewport-margin;
  & h3.servicios-title {
    font-size: 2rem;
    text-align: center;
  }
  & div.servicio {
    position: relative;
    display: flex;
    flex-direction: row;
    height: clamp(95px, 20vh, 150px);
    margin-block: 2rem;
    &__img {
      position: absolute;
      width: 100%;
      & img {
        margin: auto;
        width: 100px;
        opacity: 0.4;
      }
    }
    &__text {
      position: absolute;
      align-self: center;
      width: 100%;
      text-align: center;
      & p {
        font-size: 1.2rem;
        @include wide {
          font-size: clamp(1.2rem, 4vw, 1.8rem);
        }
        & strong {
          font-weight: $font-bolder;
        }
      }
    }
    @include wide {
      & .servicio__img {
        position: static;
        align-self: center;
      }
      & .servicio__text {
        position: static;
      }
    }
  }
  @include large {
    & .servicios-carrusel {
      width: 320px;
    }
  }
  @include wide {
    display: block;
  }
}

.aside-2 {
  @include large {
    & .imagen-separador {
      min-height: 470px;
      overflow-y: hidden;
      max-height: 540px;
    }
  }
}
