@import "../variables";

@mixin small {
  @media screen and (max-width: 620px) {
    @content;
  }
}

.ui-kit-body {
  background-color: $white;
  & .ui-div {
    padding: 3rem;
  }
  & h2 {
    padding: 3rem 0px 0px 3rem;
  }
}
// Sistema Color
.sist-color {
  display: flex;
  flex-flow: row;
  @include small {
    flex-direction: column;
  }
  &__section {
    display: flex;
    flex-flow: row;
    width: 50%;
    margin-bottom: 2rem;
    &:first-child div div:nth-child(2) {
      border: 1px solid black;
    }
    &__color {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0px;
      }
      & h3 {
        text-align: left;
      }
      &__block {
        width: 50px;
        height: 50px;
      }
      &__text {
        margin-top: 1rem;
      }
    }
  }
}
//Sist. Iconos
.buttons-div {
  display: flex;
  flex-direction: row;
  @include small {
    flex-direction: column;
  }
  & button {
    margin-block: 1rem;
  }
}
