@import "../variables";

// Background-color //
.bg-white {
  background-color: $white;
}
.bg-black {
  background: $black;
}
.bg-blue {
  background-color: $blue;
}
.bg-pink {
  background-color: $pink;
}
.bg-yellow {
  background-color: $yellow;
}
