.button-1 {
  min-width: 141px;
  height: 25px;
  display: block;
  font-weight: $font-bolder;
  font-size: 1.2rem;
  padding: 0.25rem 2rem;
  border: 1px solid $black;
  margin-inline: auto;
  margin-bottom: 3rem;
}

/* Papaeleria, necesita un comportamient ode márgenes diferente */

.button-1-1 {
  margin: 2rem 0px 2rem 2rem;
}
